
<h3>{{componentName}}</h3>

<div>
    <h1>CONTACT</h1>

<p>We’d love to hear from you. Whether you’re a customer, partner, or curious visitor, our global support team is here to help. Reach out to us via phone, email, or our online form, and we’ll ensure your inquiry is directed to the right department. Let’s connect and collaborate.</p>
</div>



<table>
    <tr>
        <td><a routerLink='east'>East</a></td>
        <td><a routerLink='west'>West</a></td>
        <td><a routerLink='north'>North</a></td>
        <td><a routerLink='south'>South</a></td>
    </tr>
</table>

<router-outlet></router-outlet>