<h3>Banking home</h3>
<hr>


<img src="assets/images/imgcow.jpg" alt="Banking Image" height="400" width="400">

<p>
    rrent Account
The command centre
for your business finance
Open Current Account online with Razorpayusiness Banking+ and optimize your money movement with automation.

Apply Now

Current Account powered by:

Trusted by
10,000+ businesses
lt for Scale
50,000 payouts in a single OTP with industry-leading payouts success rates

Powerful Automation
Automate vendor payments, taxes, payroll, and more with a new-age digital current account

Smart Dashboard
Next-gen current account to manage inflows and outflows easily via desktop or mobile app

Delegate with Control
Collaborate with granular access controls and entirely self-serve online approval workflows

Try it yourself.
Check out our live demo!
Explore RazorpayX

RazorpayX powered Current Accounts
Do more than just banking
</p>



<ol>
  <li *ngFor="let item of service">{{ item }}</li>
</ol>
