<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Banking Application </strong>
    <br>

    <ion-button slot="Start">
      <ion-button routerLink="/login">Login</ion-button>
    <ion-button routerLink="/about">About</ion-button>
    <ion-button routerLink="/tranfer">Transfer</ion-button>
    <ion-button routerLink="/viewaccdetails">Account Details</ion-button>
    </ion-button>
  </div>
</ion-content>
